.grid_container {
    display: flex;
    margin: auto;
    text-align: center;
    width: 960px;
    height: 960px;
    background-color: lawngreen;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 0;
}

.grid_cell {
    margin: 0;
    box-sizing: border-box;
    border: solid black 1px;
    background-color: white;
}